<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes Registrados</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="app.js" defer></script>
    
    <nav>
        <h1>Zooftware de gestión</h1>
        <img src="..//styles/imagenes/pngwing.com.png" alt="Logo de la veterinaria" class="logo">
        <ul>
            <a href="../views/notFound.html">Clientes</a>
            <a href="../views/index.html">Registrar Cliente</a>
            <a href="../views/notFound.html">Admnistrar clientes</a>
        </ul>
    </nav>
</head>
<body>
    <h1>Clientes Registrados</h1>
    <table id="tablaClientes">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Dirección</th>
                <th>Nombre Mascota</th>
                <th>Tipo Mascota</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Peso</th>
                <th>Servicio</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se mostrarán las filas de los clientes -->
        </tbody>
    </table>
    <script src="app.js" defer></script>
</body>
</html>
