<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario de Acceso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Eliam Cauich Vilanueva" content="">
    <meta name="description" content="Demo login para sistema Royal Can">
    <meta name="keywords" content="login,formulario de acceso html">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script src="../js/app.js" defer></script>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body id="bodyLogin">
    <div id="contenedor">
        <div id="contenedorcentrado">
            <div id="login">
                <form id="loginForm"> <!-- Cambio 1: Agregando id="loginForm" al formulario -->
                    <label for="username">Usuario</label>
                    <input id="username" type="text" name="username" placeholder="Usuario" required>
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" placeholder="Contraseña" name="password" required>
                    <button type="submit" title="Ingresar" name="Ingresar">Login</button> <!-- Cambio 2: Cambiando el id del botón a "ingresarLogin" -->
                </form>
            </div>
            <div id="derecho">
                <div class="titulo">
                    Bienvenido
                </div>
                <hr>
                <div class="pie-form">
                    <a href="notFound.html">¿Perdiste tu contraseña?</a>
                    <a href="notFound.html">¿No tienes Cuenta? Registrate</a>
                    <hr>
                    <a href="login.html">« Volver</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/app.js" defer></script>
</body>

</html>
