<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>404 - Página no encontrada</title>
<link rel="stylesheet" href="../styles/style.css">
<nav>
    <h1>Zooftware de gestión</h1>
    <img src="..//styles/imagenes/pngwing.com.png" alt="Logo de la veterinaria" class="logo">
    <ul>
        <a href="../views/notFound.html">Clientes</a>
        <a href="../views/index.html">Registrar Cliente</a>
        <a href="../views/notFound.html">Admnistrar clientes</a>
    </ul>
</nav>
</head>
<body>
<div class="error-container">
    <h1>404</h1>
    <p>Lo sentimos, la página a la que estas tratando acceder no se encuentra.</p>
    <p>¡Te invitamos a volver a nuestra <a href="login.html">página de inicio</a>!</p>
</div>
</body>
</html>
